@charset "utf-8";
@import url(./common.css);
section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 8px;
  display: none;
}
/* 메인비주얼 - 사진 */
.main_visual {
  position: relative;
  z-index: 1;
}
.full_photo {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_photo > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(
    90deg,
    rgb(17, 17, 17, 0.5) 0%,
    rgb(17, 17, 17, 0) 100%
  );
  opacity: 0;
  transform: translateX(-50%);
  animation: moveLeft 0.7s linear 1.5s forwards;
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.full_photo > img {
  width: 100%;
  position: relative;
  z-index: -10;
}
/* 메인비주얼 - 글자 */
.main_visual .text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 150px;
  bottom: 120px;
  opacity: 1;
  transition: 0.7s;
  cursor: pointer;
}
.main_visual h3 {
  font-weight: 500;
  padding-bottom: 20px;
  margin-left: 5px;
}
.main_visual h2 {
  font-size: 43px;
  font-weight: 500;
  padding-bottom: 30px;
}
.main_p {
  position: relative;
  margin-left: 20px;
  line-height: 24px;
}
.main_p::before {
  content: "";
  width: 5px;
  height: 90%;
  position: absolute;
  top: 5px;
  left: -15px;
  background-color: #fff;
}
.main_visual p:last-of-type {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 200;
  margin-left: 5px;
}
/* 메인비주얼 - 스크롤바 */
.scroll.Vertical {
  flex-direction: column;
  width: fit-content;
  height: 500px;
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.circle {
  background-color: #d7d7d7;
  border: 1px solid #fff;
}
.page1 {
  background-color: #fff;
}
.state.Vertical {
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 45%;
  z-index: -1;
}
.state.Vertical > div {
  width: 100%;
  height: 0%;
  background-color: #fff;
}
/* 두번째 섹션 - 배경(VIEW) */
/* 배경 - 이미지 박스 */
.view_box {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.view_box > div {
  flex: 1;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.view_box > div:hover {
  flex: 2;
}
.view_box > div img {
  height: 100%;
}
.view_box > div:hover img {
  transform: scale(1.2);
  transition: 10s;
}
/* 배경 - 이미지박스 - 블랙박스 */
.view_box > div > div {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #111111a8;
  transition: 1s;
  position: absolute;
}
.view_box > div:hover div {
  background-color: transparent;
}
.view_box > div:not(:hover) div {
  background-color: rgba(17, 17, 17, 0.829);
}
/* 배경 - 이미지박스 - 버튼 */
.view_box .diamond {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%) scale(0.8);
  padding: 0;
  transform-origin: left top;
  transition: 0.5s;
  z-index: 10;
  opacity: 0;
}
.view_box div .diamond::after {
  content: "";
  display: block;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -60%);
  top: 50%;
}
.view_box div:nth-child(1) .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -779px;
}
.view_box div:nth-child(2) .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -884px;
}
.view_box div:nth-child(3) .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -989px;
}
.view_box div:nth-child(4) .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1094px;
}
.view_box > div:hover .diamond {
  transform: rotate(45deg) translate(-35%, -35%) scale(0.6);
}
.view_box > div:hover .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1409px;
  width: 37px;
  height: 37px;
  transform: rotate(45deg) translate(-68%, -6%);
  animation: blink 0.5s;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 배경 - 텍스트 박스 */
.view .text {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  opacity: 1;
}
.text_h2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 128px;
  font-family: "Gilda Display", serif;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.text_h2 h2 {
  width: fit-content;
  padding-left: 10px;
  transform: translateY(-50%);
  transition: 0.5s;
  opacity: 0;
  transition-delay: 0.5s;
  cursor: pointer;
}
/* 배경 - 좌우로 열리는 검정 박스 */
.view .open_box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view .open_box > div {
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}
.view .open_box > div.box1 {
  transform-origin: left center;
  transform: translateX(0);
  transition: 3s linear;
}
.view .open_box > div.box2 {
  transform-origin: right center;
  transform: translateX(0);
  transition: 3s linear;
}
.next {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}
.view {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.view .open_box {
  display: flex;
  height: 100%;
}
.view .open_box > div {
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease;
}
/* 세번째 섹션 - 패션 */
/* .customizing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  padding: 150px 0;
  box-sizing: border-box;
}
.customizing h2 {
  font-size: 128px;
  font-family: "Gilda Display", serif;
  margin-bottom: 60px;
  padding-left: 150px;
} */
.customizing_img {
  display: flex;
  width: fit-content;
  height: 330px;
  overflow: hidden;
  transition: 1.5s;
  /* display: none; */
}
.customizing_img.box1 {
  position: absolute;
  top: 30%;
  left: -120%;
  z-index: 1;
}
.customizing_img.box2 {
  position: absolute;
  top: 64%;
  right: -120%;
  z-index: 1;
}
.customizing_img .img_box {
  width: 500px;
  height: 330px;
}
.img_box img {
  width: 100%;
  filter: saturate(0) brightness(1.05);
  transition: 0.8s;
  cursor: pointer;
}
.img_box img:hover {
  filter: saturate(1);
  transform: scale(1.1);
}
.customizing .text_h2 {
  transition: 1s ease-out;
}
/* 패션 - 더보기 버튼 */
.more_button {
  width: fit-content;
  position: absolute;
  bottom: -23%;
  right: -12%;
  transform: translateY(50%);
  transition: 1s;
  cursor: pointer;
}
.customizing .more {
  display: block;
  width: 355px;
  height: 355px;
  animation: spin 20s linear infinite forwards;
  margin: 66px 150px;
  cursor: pointer;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.more_button .text {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  cursor: pointer;
}
.customizing .more {
  background: url(../img/icon/more.png) no-repeat center / cover;
  width: 484px;
  height: 484px;
}
.customizing .more_arrow {
  width: 73px;
  height: 26px;
  margin: 0 auto 25px;
}
.customizing .more_button a {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
  color: #fff;
}
/* 네번째 섹션 - SNS */
.lcm_sns .text {
  width: fit-content;
  height: fit-content;
  float: left;
  position: absolute;
  left: 150px;
  bottom: 150px;
  line-height: 1;
  cursor: pointer;
}
.lcm_sns h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s;
}
.lcm_sns h2 {
  font-family: "Gilda Display", serif;
  font-size: 68px;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s;
}
.lcm_sns .picture {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 150px;
  overflow: hidden;
  float: right;
  cursor: pointer;
}
.lcm_sns .picture img {
  display: block;
  margin: 30px 0;
}

.lcm_sns .picture .slick-list {
  height: 100% !important;
}
/* 다섯번째 섹션 - 이벤트(event) */
.review_event {
  background: url(../img/photo/event/bg_event2.jpg) no-repeat center / cover;
  width: 100%;
  height: fit-content;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
}
.review_event h4 {
  width: fit-content;
  margin: 0 auto;
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 30px;
  cursor: pointer;
}
.review_event p {
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
}
.review_event span {
  font-weight: 600;
}

/* 베스트 뷰(best_view) 페이지 */
section.show_view {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* 헤더 */
header {
  animation: moveHeader 1s ease-in 0s forwards;
}
/*베스트 뷰(best_view) 섹션*/
.back_button {
  position: fixed;
  bottom: 60px;
  right: 160px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  letter-spacing: 1.2px;
}
.back_button::after {
  content: "";
  display: block;
  background-image: url("../../img/icon/Result.png");
  background-position: 0px -1846px;
  width: 10px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.8);
}
.view_content {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}
.view_content .outer,
.view_content .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
/* show view - 텍스트 */
.title_wrap {
  position: absolute;
  bottom: 60px;
  left: 160px;
  z-index: 30;
}
.title_btn {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  vertical-align: 20px;
  color: #fff;
  font-size: 24px;
  line-height: 25px;
  overflow: hidden;
}
.content_title {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 50px;
  left: 4px;
  white-space: nowrap;
  opacity: 0;
  border-radius: 3px;
  transition: 0.3s;
}
.copy {
  position: absolute;
  bottom: 0;
  left: 30px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  letter-spacing: 1.2px;
  white-space: nowrap;
}
.title_btn:hover + .content_title {
  opacity: 1;
}
.content_title h3 {
  z-index: 2;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
}
.content_title h2 {
  z-index: 2;
  font-size: 43px;
  font-weight: 500;
  padding-bottom: 30px;
}
.content_title .contents {
  padding-left: 20px;
  position: relative;
  line-height: 1.2;
}
.content_title .contents::before {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 2;
}
.content_title .contents,
.content_title p {
  z-index: 2;
}
/* 백그라운드 이미지 */
.view_content .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}
.bg * {
  will-change: background-image;
}
.first .bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../img/photo/view/fief/fief_1.jpg");
}
.second .bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../img/photo/view/fief/fief_2.jpg");
}
.third .bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../img/photo/view/fief/fief_3.jpg");
}
.fourth .bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../img/photo/view/fief/fief_4.jpg");
}
.fifth .bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../img/photo/view/fief/fief_5.jpg");
}
