@import url(./common.css);
section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 8px;
  display: none;
}
/* 메인비주얼 - 사진 */
.main_visual {
  position: relative;
  z-index: 1;
}
.full_photo {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_photo > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(
    90deg,
    rgb(17, 17, 17, 0.5) 0%,
    rgb(17, 17, 17, 0) 100%
  );
  opacity: 0;
  transform: translateX(-50%);
  animation: moveLeft 0.7s linear 1.5s forwards;
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.full_photo > img {
  width: 100%;
  position: relative;
  z-index: -10;
}
/* 메인비주얼 - 글자 */
.main_visual .text {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 150px;
  bottom: 120px;
  opacity: 1;
  transition: 0.7s;
}
.main_visual h3 {
  font-weight: 500;
  padding-bottom: 20px;
}
.main_visual h2 {
  font-size: 43px;
  font-weight: 500;
  padding-bottom: 30px;
}
.main_visual p:last-of-type {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 200;
}
/* 메인비주얼 - 스크롤바 */
.scroll {
  flex-direction: column;
  width: fit-content;
  height: 500px;
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.circle {
  background-color: #d7d7d7;
  border: 1px solid #fff;
}
.page1 {
  background-color: #fff;
}
.state {
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 45%;
  z-index: -1;
}
.state > div {
  width: 100%;
  height: 0%;
  background-color: #fff;
}
/* .text_wrap {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 150px;
  bottom: 120px;
  opacity: 0;
  animation: moveLeft 0.7s ease-in 0.5s forwards;
} */
/* 두번째 섹션 - 배경(VIEW) */
/* 배경 - 이미지 박스 */
.view_box {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.view_box > div {
  flex: 1;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.view_box > div:hover {
  flex: 2;
}
.view_box > div img {
  height: 100%;
}

/* 배경 - 이미지박스 - 블랙박스 */
.view_box > div > div {
  width: 100%;
  height: 100%;
  background-color: #111111a8;
  transition: 1s;
  position: absolute;
}
.view_box > div:hover div {
  background-color: transparent;
}

/* 배경 - 이미지박스 - 버튼 */
.view_box .diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%) scale(0.8);
  padding: 0;
  transform-origin: left top;
  transition: 0.3s;
  z-index: 10;
  opacity: 0;
}
.view_box div:nth-child(1) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -779px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(2) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -884px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(3) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -989px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(4) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1094px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box > div:hover .diamond {
  transform: rotate(45deg) translate(-35%, -35%) scale(0.6);
}
.view_box > div:hover .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1409px;
  width: 37px;
  height: 37px;
  transform: rotate(45deg) translate(-40%, 30%);
  animation: blink 0.5s;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 배경 - 텍스트 박스 */
.view .text {
  width: 100%;
  height: 100%;
  font-size: 128px;
  font-family: "Gilda Display", serif;
  position: relative;
  z-index: 100;
  opacity: 1;
}
.view h2:first-child {
  position: absolute;
  top: 280px;
  left: 160px;
}
/* 배경 - 텍스트 - 스크롤 모션 */
.scroll_motion h3 {
  position: absolute;
  bottom: 280px;
  right: 160px;
  font-size: 28px;
  font-family: "Noto Sans KR", sans-serif;
}
.scroll_motion div {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 200px;
  right: 160px;
  border-radius: 100%;
  background-color: #fff;
}
.scroll_motion div::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-width: 0;
  border-top-color: #fff;
  bottom: -200%;
  left: 50%;
  transform: translateX(-50%);
  animation: topBottom 1s ease-in-out alternate infinite;
}
@keyframes topBottom {
  0% {
    bottom: -200%;
  }
  100% {
    bottom: -400%;
  }
}
/* 배경 - 좌우로 열리는 검정 박스 */
.open_box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.open_box > div {
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}
.open_box > div.box1 {
  transform-origin: left center;
  transform: translateX(0);
  transition: 3s linear;
}
.open_box > div.box2 {
  transform-origin: right center;
  transform: translateX(0);
  transition: 3s linear;
}
.next {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}
.view {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.open_box {
  display: flex;
  height: 100%;
}
.open_box > div {
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease;
}
/* 세번째 섹션 - 패션 */
.fashion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  padding: 150px 0;
  box-sizing: border-box;
}
.fashion h2 {
  font-size: 128px;
  font-family: "Gilda Display", serif;
  margin-bottom: 60px;
  padding-left: 150px;
}
.fashion_img {
  width: 100vw;
  height: 490px;
  overflow: hidden;
}
.fashion_img div {
  height: 100%;
}
.fashion .img {
  width: 730px;
  height: 100%;
  background-color: pink;
}

/* 패션 - 더보기 버튼 */
.more_button {
  position: relative;
}
.fashion_img .more {
  display: block;
  width: 355px;
  height: 355px;
  animation: spin 20s linear infinite forwards;
  opacity: 0.6;
  margin: 66px 150px;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.more_button .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}
.fashion .more_arrow {
  width: 73px;
  height: 26px;
  margin: 0px 18px 30px 18px;
}
.fashion p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
}
/* 네번째 섹션 - SNS */
.lcm_sns .text {
  width: fit-content;
  height: fit-content;
  float: left;
  position: absolute;
  left: 150px;
  bottom: 150px;
  line-height: 1;
}
.lcm_sns h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
}
.lcm_sns h2 {
  font-family: "Gilda Display", serif;
  font-size: 68px;
}
.lcm_sns .picture {
  display: flex;
  flex-direction: column;
  width: 589px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 150px;
  overflow: hidden;
  float: right;
}
.lcm_sns .picture img {
  display: block;
  margin: 30px 0;
}

.lcm_sns .picture .slick-list {
  height: 100% !important;
}
/* 다섯번째 섹션 - 이벤트(event) */
.review_event {
  background: url(../img/photo/event/bg_event2.jpg) no-repeat center / cover;
  width: 100%;
  height: fit-content;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
}
.review_event h4 {
  font-size: 34px;
  font-weight: 600;
  padding-bottom: 30px;
}
.review_event p {
  font-size: 18px;
}
.review_event span {
  font-weight: 600;
}
