@charset "utf-8";
@import url(./reset.css);
@import url(./icons.css);
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: "Gilda Display", serif; */
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #111;
}
.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0;
  animation: fadeFirst 2s ease-in forwards;
  overflow: hidden;
}
@keyframes fadeFirst {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* 헤더 */
header {
  width: 100%;
  height: fit-content;
  position: absolute;
  padding: 28px 0;
  box-sizing: border-box;
  background-color: transparent;
  transition: 0.5s;
  z-index: 10;
  transform: translateY(-100%);
  animation: moveHeader 1s ease-in 3s forwards;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: 500;
}
@keyframes moveHeader {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
header::before {
  display: block;
  content: "";
  width: 3000px;
  height: 170px;
  position: absolute;
  top: 0;
  background: linear-gradient(
    rgba(17, 17, 17, 0.6) 0%,
    rgba(17, 17, 17, 0) 100%
  );
  border-bottom: 1px solid rgb(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgb(17, 17, 17, 0.1);
  transform: scale(1, 0);
  transform-origin: top center;
  opacity: 0;
  transition: opacity 0.7s, transform 0.7s;
}
header:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.nav_wrap {
  width: fit-content;
  height: 24px;
}
/* 헤더 - 1차 메뉴 */
nav {
  float: left;
}
.gnb {
  display: flex;
  width: 486px;
  height: 24px;
  position: relative;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
}
.gnb a {
  display: block;
  width: 100%;
  height: 24px;
  color: #e4e4e4;
  text-align: center;
}
.gnb > li:first-child > a {
  width: 44px;
}
.gnb a:hover {
  font-weight: 600;
}
.gnb > li {
  position: relative;
  height: 24px;
}
/* 헤더 - 2차 메뉴 */
.lnb {
  width: 100px;
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  opacity: 0;
  transition: 0.7s;
  transition-delay: 0.2s;
  overflow: hidden;
  font-weight: 300;
}
header:hover .lnb {
  opacity: 1;
  height: auto;
}
.lnb li {
  display: block;
}
.lnb a {
  height: 30px;
}
/* 헤더 - 알림 */
.header_icon {
  float: right;
  width: fit-content;
  height: 24px;
}
.heart_content {
  float: left;
  position: relative;
  padding-left: 60px;
}
.heart_content > div:first-child {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  transform: translateY(-10px);
  margin-left: 15px;
  cursor: pointer;
}
.heart_content > div:first-child:hover {
  background-color: rgb(17, 17, 17, 0.4);
  transition: 0.5s;
}
.heart {
  cursor: pointer;
}
/* 헤더 - 알림 - 2차메뉴 */
.heart_content > ul {
  width: 360px;
  height: 0px;
  position: absolute;
  top: 50px;
  right: -84%;
  background-color: #fff;
  padding: 30px 15px;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 3px;
  color: #a8a8a8;
  border: 1px solid #e4e4e4;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}
.heart_content > ul::after {
  display: block;
  content: "";
  width: 25px;
  height: 15px;
  position: absolute;
  top: -15px;
  right: 30%;
  background: url(../img/icon/polygon.png) no-repeat;
}
.heart_content > ul > li:first-child {
  display: flex;
}
.heart_content > ul > li {
  position: relative;
}
.heart_content > ul > li > button {
  width: 66px;
  height: 40px;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
  box-sizing: border-box;
}
.heart_content .line_box {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.heart_content .icon {
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 0;
}
.heart_content .icon > a {
  display: block;
  float: left;
  filter: brightness(0.9);
  padding-left: 10px;
}
.heart_content .contents {
  display: block;
  width: 100%;
  height: calc(100% - 60px);
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 20px;
}
.contents::-webkit-scrollbar {
  width: 3px;
  background-color: #e4e4e4;
}
.contents::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}
.contents::-webkit-scrollbar-button {
  display: none;
}
.heart_content .contents > div {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  height: fit-content;
  border: 1px solid #e4e4e4;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
}
.profile {
  width: 48px;
  height: 48px;
  background-color: #e4e4e4;
  background: url(../img/icon/lcm.png) no-repeat center center / cover;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  border-radius: 20px;
}
.sub_chat {
  width: calc(100% - 48px);
  height: 100%;
  padding-left: 15px;
  box-sizing: border-box;
}
.sub_chat > h3 {
  font-size: 14px;
  color: #a8a8a8;
}
.sub_chat > h3 > span {
  font-size: 16px;
  color: #111;
}
.sub_chat > textarea {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #8e8e8e;
  line-height: 20px;
  margin-top: 5px;
}
/* 메뉴 */
.menu {
  cursor: pointer;
}
.menu_button {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  transform: translateY(-10px);
  margin-left: 15px;
  cursor: pointer;
}
.menu_button:hover {
  background-color: rgb(17, 17, 17, 0.4);
  transition: 0.5s;
}
.menu_content {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(17, 17, 17, 0.8);
  backdrop-filter: blur(10px);
  transform-origin: center center;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}
.menu_wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 26%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3vw;
  box-sizing: border-box;
  z-index: 500;
  transform: translateX(26vw);
  transition: transform 0.5s;
}
.menu_wrap > li {
  display: block;
  width: 100%;
  height: fit-content;
  position: relative;
}
.menu_wrap > li:first-child {
  height: 24px;
  padding: 0;
}
.menu_wrap > li:first-child > div {
  float: right;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}
.menu_wrap > li:first-child > div:hover {
  background-color: #ebebeb;
  transition: 0.5s;
  border-radius: 100%;
}
.close {
  cursor: pointer;
  filter: brightness(0);
}
/* 메뉴 - 검색 */
.search {
  width: 100%;
  height: 50px;
  background-color: #fbfbfb;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.search + label {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26%;
  right: 20px;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1588px;
  filter: brightness(0.6);
  margin: 2px;
  cursor: pointer;
}
/* 메뉴 - 사용자 로그인 */
.user_login > a {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #111;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
}
.user_login > a:hover {
  background-color: #111;
  color: #fff;
  transition: 0.5s;
}
.user_login + li {
  display: flex;
  gap: 25px;
  width: 100%;
  height: fit-content;
  padding: 0 30px;
  box-sizing: border-box;
}
.user_login + li > a {
  font-size: 14px;
  color: #8e8e8e;
  letter-spacing: -0.3px;
}
.user_login + li > a:hover {
  font-weight: 600;
  color: #111;
}
/* 메뉴 - 사용자 서비스 창 */
.user_service {
  width: 100%;
  height: fit-content;
  padding-top: 3vh;
}
.user_service > li {
  padding-bottom: 2vh;
}
.user_service > li > a {
  display: block;
  width: 100%;
  height: 65px;
  background-color: #fbfbfb;
  border: 1px solid #e4e4e4;
  color: #6a6a6a;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.user_service > li > a::before {
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: -110%;
  background-color: #111;
  transition: 1.5s;
}
.user_service > li > a:hover::before {
  left: 0;
}
.user_service > li > a:hover span {
  position: relative;
  z-index: 600;
  color: #fff;
  transition: 0.7s;
}
.user_service > li > a:hover i {
  filter: brightness(1);
  transition: 0.7s;
}
.user_service i {
  display: inline-block;
  margin-left: 38px;
  filter: brightness(0.6);
  vertical-align: top;
}
.user_service span {
  display: inline-block;
  line-height: 24px;
  margin-left: 53px;
}
/* 메뉴 - 이벤트 */
.menu_wrap .event {
  padding-top: 10vh;
}
.lostark_event {
  width: 100%;
}
.menu_wrap > li:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_wrap > li:last-child > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.menu_wrap > li:last-child img {
  display: inline-block;
  filter: brightness(0.4);
}
.menu_wrap > li:last-child a {
  filter: brightness(0.4);
}

/* 메인비주얼 - 사진 */
.main_visual {
  position: relative;
  z-index: 1;
}
.full_photo {
  position: relative;
  width: 100%;
  height: 100%;
}
.full_photo > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(
    90deg,
    rgb(17, 17, 17, 0.5) 0%,
    rgb(17, 17, 17, 0) 100%
  );
  opacity: 0;
  transform: translateX(-50%);
  animation: moveLeft 0.7s linear 1.5s forwards;
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.full_photo > img {
  width: 100%;
  position: relative;
  z-index: -10;
}
/* 메인비주얼 - 글자 */
.main_visual .text {
  position: absolute;
  left: 150px;
  bottom: 220px;
  opacity: 0;
  animation: moveLeft 0.7s linear 1.5s forwards;
}
.main_visual h3 {
  font-weight: 500;
  padding-bottom: 20px;
}
.main_visual h2 {
  font-size: 43px;
  font-weight: bold;
  padding-bottom: 30px;
}
.main_visual p:last-of-type {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 200;
}
/* 메인비주얼 - 스크롤바 */
.scroll {
  display: flex;
  width: 340px;
  height: fit-content;
  justify-content: space-between;
  position: absolute;
  left: 150px;
  bottom: 120px;
  opacity: 0;
  animation: moveLeft 0.65s linear 1.55s forwards;
}
.circle {
  width: 15px;
  height: 15px;
  background-color: #6a6a6a;
  border-radius: 100%;
  transition: 0.5s;
  border: 1px solid #fff;
}
.page1 {
  background-color: #fff;
}
.state {
  width: 100%;
  height: 3px;
  background-color: #6a6a6a;
  position: absolute;
  top: 45%;
  z-index: -1;
}
.state > div {
  width: 0;
  height: 100%;
  border-radius: 2px;
  background-color: #fff;
  transition: 3s;
}
/* 메인비주얼 - 버튼 */
.main_visual .arrow_button {
  position: absolute;
  top: 50%;
  right: 8vw;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(50%);
  animation: moveRight 0.8s linear 2.6s forwards;
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main_visual .arrow_button:hover {
  background-color: rgb(17, 17, 17, 0.5);
}
.white_arrow {
  cursor: pointer;
}
/* 두번째 섹션 - 배경(VIEW) */
/* 배경 - 이미지 박스 */
.view_box {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.view_box > div {
  flex: 1;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.view_box > div:hover {
  flex: 2;
}
.view_box > div img {
  height: 100%;
}
/* .view_box > div:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url("../img/photo/view/view01.jpg") no-repeat center / cover;
}
.view_box > div:nth-child(2) {
  width: 100%;
  height: 100%;
  background: url("../img/photo/view/view02.jpg") no-repeat center / cover;
}
.view_box > div:nth-child(3) {
  width: 100%;
  height: 100%;
  background: url("../img/photo/view/view03.jpg") no-repeat center / cover;
}
.view_box > div:nth-child(4) {
  width: 100%;
  height: 100%;
  background: url("../img/photo/view/view04.jpg") no-repeat center / cover;
} */
/* 배경 - 이미지박스 - 블랙박스 */
.view_box > div > div {
  width: 100%;
  height: 100%;
  background-color: #111111a8;
  transition: 1s;
  position: absolute;
}
.view_box > div:hover div {
  background-color: transparent;
}

/* 배경 - 이미지박스 - 버튼 */
.view_box .diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  cursor: pointer;
  transform-origin: left top;
  transition: 0.5s;
  z-index: 10;
  opacity: 0;
}
.view_box div:nth-child(1) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -779px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(2) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -884px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(3) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -989px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box div:nth-child(4) .diamond::after {
  content: "";
  display: block;
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1094px;
  width: 70px;
  height: 105px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -10%);
}
.view_box > div:hover .diamond {
  transform: rotate(315deg) translate(-40%, -40%) scale(0.8);
}
.view_box > div:hover .diamond::after {
  background-image: url("../img/icon/Result.png");
  background-position: 0px -1409px;
  width: 37px;
  height: 37px;
  transform: rotate(45deg) translate(-40%, 30%);
  animation: blink 0.5s;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 배경 - 텍스트 박스 */
.view .text {
  width: 100%;
  height: 100%;
  font-size: 128px;
  font-family: "Gilda Display", serif;
  position: relative;
  z-index: 100;
  opacity: 1;
}
.view h2:first-child {
  position: absolute;
  top: 280px;
  left: 160px;
}
/* 배경 - 텍스트 - 스크롤 모션 */
.scroll_motion h3 {
  position: absolute;
  bottom: 280px;
  right: 160px;
  font-size: 28px;
  font-family: "Noto Sans KR", sans-serif;
}
.scroll_motion div {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 200px;
  right: 160px;
  border-radius: 100%;
  background-color: #fff;
}
.scroll_motion div::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-width: 0;
  border-top-color: #fff;
  bottom: -200%;
  left: 50%;
  transform: translateX(-50%);
  animation: topBottom 1s ease-in-out alternate infinite;
}
@keyframes topBottom {
  0% {
    bottom: -200%;
  }
  100% {
    bottom: -400%;
  }
}
/* 배경 - 좌우로 열리는 검정 박스 */
.open_box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.open_box > div {
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}
.open_box > div.box1 {
  transform-origin: left center;
  transform: translateX(0);
  transition: 3s linear;
}
.open_box > div.box2 {
  transform-origin: right center;
  transform: translateX(0);
  transition: 3s linear;
}
.next {
  width: 100vw;
  height: 100vh;
  background-color: pink;
}
.view {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.open_box {
  display: flex;
  height: 100%;
}

.open_box > div {
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease;
}
/* 세번째 섹션 - 패션 */
.fashion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  padding: 150px 0;
  box-sizing: border-box;
}
.fashion h2 {
  font-size: 128px;
  font-family: "Gilda Display", serif;
  margin-bottom: 60px;
  padding-left: 150px;
}
.fashion_img {
  width: 100vw;
  height: 490px;
  overflow: hidden;
}
.fashion_img div {
  height: 100%;
}
.fashion .img {
  width: 730px;
  height: 100%;
  background-color: pink;
}

/* 패션 - 더보기 버튼 */
.more_button {
  position: relative;
}
.fashion_img .more {
  width: 355px;
  height: 355px;
  animation: spin 20s linear infinite forwards;
  opacity: 0.6;
  margin: 66px 150px;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.more_button .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}
.fashion .more_arrow {
  width: 73px;
  height: 26px;
  margin: 0px 18px 30px 18px;
}
.fashion p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.7;
}
