@import url(./common.css);
/* 기본 */
.wrapper.white {
    background-color: #fff;
    color: #111;
}
section {
    width: 1600px;
    margin: 150px auto;
}
/* 헤더 */
header {
    animation: moveHeader 1s ease-in 0s forwards;
}
header::before {
    background: #fff;
    border-bottom: 1px solid #6a6a6a;
    box-shadow: 0 4px 6px #eee;
}
header:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
h1 > a > img {
    filter: brightness(0.2);
}
.gnb a {
    color: #6a6a6a;
}
/* 메뉴 아이콘 */
.menu_button > button,
.heart_button > button {
    filter: brightness(0.2);
}
/* 서브페이지(1) 베스트 페이지(best_page) */
/* best lcm */
.bestLCM {
    margin-top: 180px;
    margin-bottom: 0;
}
/* 제목 */
.title {
    width: 100%;
    height: fit-content;
    text-align: center;
}
h2 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 68px;
    line-height: 80px;
    margin-bottom: 20px;
}
h3 {
    font-size: 24px;
    color: #9e9e9e;
}
/* 컨텐츠 - ul */
.select {
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.select li {
    width: fit-content;
    height: 60px;
    padding: 0 80px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #787878;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    white-space: nowrap;
}
.select li:nth-child(1) {
    border-bottom-width: 0;
}
.select li:nth-child(2) {
    color: #9e9e9e;
    background-color: #fbfbfb;
    border-left-width: 0;
}
.select li:last-child {
    width: 100%;
    background-color: #fff;
    border-width: 0px;
    border-bottom-width: 1px;
}
strong {
    font-weight: 600;
}
/* best lcm - 이미지 */
.bestLCM .best_img {
    display: flex;
    width: 100%;
    height: 482px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.bestLCM .small_img {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 410px;
    height: 100%;
}
.bestLCM .small_img::-webkit-scrollbar {
    display: none;
}
.bestLCM .small_img div {
    width: 410px;
    height: 230px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
.bestLCM .small_img div:last-child {
    margin-bottom: 0px;
}
.bestLCM .small_img img {
    width: 100%;
}
.bestLCM .large_img {
    width: 1060px;
    height: 100%;
    background-color: #111;
    border-radius: 3px;
    overflow: hidden;
}
.bestLCM .large_img img {
    width: 100%;
    transition: 0.5s;
}
/* best lcm - scrollbar */
.scroll {
    width: fit-content;
    height: 100%;
    flex-direction: column;
    position: relative;
    margin-left: 56px;
}
.circle {
    background-color: #111;
    border: 1px solid #111;
    transition: background-color 3s;
}
.scroll div:nth-child(2),
.scroll div:nth-child(3) {
    background-color: #fff;
}
.state {
    background-color: #d7d7d7;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.state > div {
    width: 100%;
    height: 0;
    background-color: #111;
}
/* 이벤트 버튼 */
.event {
    margin-top: 30px;
    padding: 30px 50px;
    background-color: #fbfbfb;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #111;
}
.event p {
    color: #787878;
    line-height: 12px;
}
.line_arrow {
    background-image: url('../../img/icon/sprite.png');

    filter: brightness(0);
}
.line_arrow.right {
    transform: rotate(180deg);
}
/* 리포터 픽 */
.reporter_pick {
    margin-top: 0;
    padding-top: 150px;
}
.reporter_pick .first_page {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.reporter_pick .contents_wrap .post {
    width: 785px;
    height: 500px;
    background-color: #6a6a6a;
    position: relative;
}
.page_number {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin-top: 60px;
}
.page_number li {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    line-height: 27px;
}
.page_number .line_arrow {
    margin: 0 15px;
}
/* 리포터 픽 - title */
.reporter_pick .post .title {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}
.reporter_pick .post .title h3 {
    margin-top: 20px;
    font-weight: 500;
    color: #fff;
    position: relative;
}
.reporter_pick .nick_name {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: fit-content;
}
.reation {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: 30px;
}
.reaction_number {
    font-size: 14px;
    font-weight: 400;
}
.reation p {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.reation i {
    display: inline-block;
    transform: scale(0.8);
}
.reation .chat {
    background-image: url('../../img/icon/sprite.png');
}
.reation .heart {
    background-image: url('../../img/icon/sprite.png');
}
/* 페이지 번호 */
.active {
    background-color: #111;
    color: #fff;
}
/* 푸터 */
footer {
    background-color: #111;
}
.legal {
    color: #fff;
}
/* 서브페이지(2) view 페이지 */
section.show_view {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
/* 헤더 */
header {
    animation: moveHeader 1s ease-in 0s forwards;
}
/* 배경(VIEW) 섹션*/
.back_button {
    position: fixed;
    bottom: 120px;
    right: 160px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
    letter-spacing: 1.2px;
}
.back_button::after {
    content: '';
    display: block;
    background-image: url('../../img/icon/sprite.png');
    background-position: 0px -1846px;
    width: 10px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.8);
}
.view_content {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
}
.view_content .outer,
.view_content .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
/* show view - 텍스트 */
.title_wrap {
    position: absolute;
    bottom: 120px;
    left: 160px;
    z-index: 30;
}
.title_btn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    vertical-align: 20px;
    color: #fff;
    font-size: 24px;
    line-height: 25px;
    overflow: hidden;
}
.content_title {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 50px;
    left: 4px;
    white-space: nowrap;
    opacity: 0;
    border-radius: 3px;
    transition: 0.3s;
}
.copy {
    position: absolute;
    bottom: 0;
    left: 30px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    letter-spacing: 1.2px;
    white-space: nowrap;
}
.title_btn:hover + .content_title {
    opacity: 1;
}
.content_title h3 {
    z-index: 2;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}
.content_title h2 {
    z-index: 2;
    font-size: 43px;
    font-weight: 500;
    padding-bottom: 30px;
}
.content_title .contents {
    padding-left: 20px;
    position: relative;
    line-height: 1.2;
}
.content_title .contents::before {
    content: '';
    display: block;
    width: 6px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 2;
}
.content_title .contents,
.content_title p {
    z-index: 2;
}
/* 백그라운드 이미지 */
.view_content .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
}
.bg * {
    will-change: background-image;
}
/* show view - 스크롤바 */
.scroll.row {
    display: flex;
    width: 1600px;
    height: fit-content;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    left: 160px;
    z-index: 2;
    opacity: 1;
}
.circle {
    width: 12px;
    height: 12px;
    background-color: #111;
    border-radius: 100%;
    transition: 0.5s;
    border: 1px solid #fff;
}
.page1 {
    background-color: #fff;
}
.state.horizontal {
    width: 100%;
    height: 1px;
    background-color: #6a6a6a;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.state.horizontal > div {
    width: 100%;
    height: 0;
    border-radius: 2px;
    background-color: #fff;
    transition: 3s;
}
