@import url(../css/common.css);
/*
    [ 목차 ]

    1. 리스트
        1-1. 변수
        1-2. mixin
    2. 공통 부분
        2-1. header
        2-2. section
        2-3. 목록
        2-4. scrollbar
        2-5. 페이지 유도 버튼(event)
        2-6. footer
    3. 개별 부분
        3-1. 베스트 페이지(best_page)
        3-2. 배경 페이지(view_page)

*/

// 1-1. 변수 목록
$gray-color: (#ffffff, #fbfbfb, #eeeeee, #d7d7d7, #9e9e9e, #787878, #111111);
$font-size: (14px, 16px, 20px, 24px, 36px, 68px);

// 1-2. mixin 목록
// 넓이
@mixin wrapper-white {
  background-color: #fff;
  color: #111;
}

@mixin basic-section {
  width: 1600px;
  margin: 150px auto;
}

// 아이콘
@mixin darken-icon {
  filter: brightness(0.2);
}
@mixin lighten-icon {
  filter: brightness(1);
}

// 폰트
h2 {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 68px;
  line-height: 80px;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
  color: nth($gray-color, 5);
}
h4 {
  font-size: nth($font-size, 5);
  font-weight: 600;
}
h5 {
  font-size: nth($font-size, 4);
  color: nth($gray-color, 5);
  font-weight: 600;
}

@mixin position(
  $p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null,
  $z: null
) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
  z-index: $z;
}

// 2. 공통 부분
// 2-1. header
header {
  animation: moveHeader 1s ease-in 4.5s forwards;

  &::before {
    background: nth($gray-color, 1);
    border-bottom: 1px solid nth($gray-color, 6);
    box-shadow: 0 4px 6px nth($gray-color, 3);
  }
  &:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  h1 {
    img {
      @include darken-icon;
    }
  }
  .gnb {
    a {
      color: nth($gray-color, 6);
    }
  }
  .menu {
    @include darken-icon;
  }
  .heart {
    @include darken-icon;
  }
}
// 2-2. section
.wrapper.white {
  @include wrapper-white;
}

section {
  @include basic-section;
}

.main_title {
  width: 100%;
  height: fit-content;
  text-align: center;
  opacity: 0;
  transform: translateY(-50%);
  transition: 1s;

  &.moving {
    opacity: 0;
    transition: 1s;
    transform: translateY(-50%);
    // animation: none;
  }
}
// 2-3. 목록
ul.select {
  display: flex;
  width: 100%;
  margin-top: 100px;
  border-left: 1px solid nth($gray-color, 4);
  transform: translateY(-50%);
  opacity: 0;
  transition: 1s;

  li {
    width: fit-content;
    height: 60px;
    padding: 0 80px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: nth($gray-color, 6);
    background-color: nth($gray-color, 2);
    border: 1px solid nth($gray-color, 4);
    border-left-width: 0;
    box-sizing: border-box;
    white-space: nowrap;
    transition: 0.3s;

    &:hover {
      color: nth($gray-color, 7);
    }
    &.click_first {
      background-color: nth($gray-color, 1);
      border-bottom-width: 0;
      color: nth($gray-color, 7);
    }
    &.click_second {
      background-color: nth($gray-color, 1);
      border-bottom-width: 0;
      color: nth($gray-color, 7);
    }
    &:last-child {
      width: 100%;
      background-color: nth($gray-color, 1);
      border-width: 0px;
      border-bottom-width: 1px;
    }
  }
}

// 2-4. scrollbar
.scroll {
  display: flex;
  justify-content: space-between;

  &.column {
    width: fit-content;
    height: 100%;
    flex-direction: column;
  }
  &.row {
    width: 100%;
    height: fit-content;
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    transition: 3s;
    border: 1px solid nth($gray-color, 7);
    background-color: nth($gray-color, 1);
  }
  .state {
    &.column {
      width: 3px;
      height: 100%;
      @include position(relative, $t: 0, $l: 50%);
      transform: translateX(-50%);
      div {
        width: 100%;
        height: 0;
      }
    }
    &.row {
      width: 100%;
      height: 3px;
      @include position(relative, $t: 50%, $l: 0);
      transform: translateY(-50%);
      div {
        width: 0;
        height: 100%;
      }
    }
    div {
      border-radius: 2px;
      transition: 3s;
      background-color: nth($gray-color, 7);
    }
  }
}
// 2-5. 페이지 유도 버튼(event)
.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 50px;
  background-color: nth($gray-color, 2);
  border-radius: 3px;
  transform: translateY(-10%);
  opacity: 0;
  transition: 1s;

  h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    color: nth($gray-color, 7);
  }
  p {
    color: nth($gray-color, 6);
    line-height: 12px;
  }
  .line_arrow {
    background-image: url("../../img/icon/Result.png");
    @include darken-icon;
    transform: rotate(180deg);
  }
}
// 2-6. footer
footer {
  background-color: nth($gray-color, 7);
}
.legal {
  color: nth($gray-color, 1);
}
// 2-7. page
.pages {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 30px;

  .post {
    @include position(relative);
    width: 785px;
    height: 500px;
    background-color: nth($gray-color, 6);
    position: relative;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include position(absolute, $t: 0, $l: 0);
      background-color: transparentize(nth($gray-color, 7), 0.2);
      color: #fff;
      text-align: center;
      opacity: 0;

      .nick_name {
        display: inline-block;
        width: fit-content;
        @include position(relative);
        font-size: 14px;
        font-weight: 400;
      }
      h3 {
        margin-top: 20px;
        font-weight: 500;
        color: #fff;
        @include position(relative);
      }
      .reation {
        display: flex;
        justify-content: center;
        height: 20px;
        margin-top: 30px;

        p {
          display: flex;
          align-items: center;
          margin: 0 5px;

          i {
            display: inline-block;
            transform: scale(0.8);
            &.chat,
            &.heart {
              background-image: url("../../img/icon/Result.png");
            }
          }
          .reaction_number {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
// 2-8. page number
ul.page_number {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  margin-top: 60px;

  li {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    line-height: 27px;

    &.active {
      background-color: #111;
      color: #fff;
    }
  }
  .line_arrow {
    margin: 0 15px;
  }
}
main {
  margin-bottom: 150px;
}
/* 3. 개별 부분 */
// 3-1. 베스트 페이지(best_page)
.bestLCM {
  .best_img {
    display: flex;
    width: 100%;
    height: 482px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    transform: translateY(-5%);
    opacity: 0;
    transition: 1s;

    .small_img {
      // overflow-y: scroll;
      // overflow-x: hidden;
      width: 27%; // width: 410px;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .img_box {
        width: 100%;
        height: 230px;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
          display: block;
          width: 100%;
        }
      }
    }
    .large_img {
      width: 71%;
      height: 100%;
      // background-color: nth($gray-color, 7);
      border-radius: 3px;
      overflow: hidden;

      img {
        width: 100%;
        transition: 0.2s;
      }
    }
    .scroll {
      margin-left: 56px;
      @include position(relative);
    }
  }
}
.reporter_pick {
  margin-top: 0;
  padding-top: 150px;

  .select {
    opacity: 0;
    transition: 1s;
    transform: translateY(-50%);
  }
  article {
    opacity: 0;
    transition: 1s;
    transform: translateY(-3%);
  }
}

// 3-2. 배경 페이지(view_page)
section.show_view {
  width: 100vw;
  height: 100vh;
  @include position(relative);
  overflow: hidden;

  .view_content {
    height: 100%;
    width: 100%;
    @include position(fixed, $t: 0);
    visibility: hidden;

    .outer {
      width: 100%;
      height: 100%;
      overflow-y: hidden;

      .inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;

        .bg {
          display: flex;
          align-items: center;
          justify-content: center;
          @include position(absolute, $t: 0);
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center;
          will-change: background-image;
        }
      }
    }
  }
  .title_wrap {
    @include position(absolute, $l: 160px, $b: 120px, $z: 30);
    .title_btn {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      vertical-align: 20px;
      color: #fff;
      font-size: 24px;
      line-height: 25px;
      overflow: hidden;

      .copy {
        @include position(absolute, $b: 0, $l: 30px);
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        letter-spacing: 1.2px;
        white-space: nowrap;
      }
      &:hover + .content_title {
        opacity: 1;
      }
    }
    .content_title {
      width: fit-content;
      height: fit-content;
      @include position(absolute, $b: 50px, $l: 4px);
      white-space: nowrap;
      opacity: 0;
      border-radius: 3px;
      transition: 0.3s;

      h3 {
        // z-index: 2;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 20px;
      }
      h2 {
        font-size: 43px;
        font-weight: 500;
        padding-bottom: 30px;
      }
      .contents {
        @include position(relative, $z: 2);
        padding-left: 20px;
        line-height: 1.2;
        &::before {
          content: "";
          display: block;
          width: 6px;
          height: 100%;
          background-color: nth($gray-color, 1);
          @include position(absolute, $t: 50%, $l: 0, $z: 2);
          transform: translateY(-50%);
        }
      }
    }
  }
  .scroll.row {
    width: 1600px;
    @include position(absolute, $l: 160px, $b: 60px, $z: 2);
    opacity: 1;

    .circle {
      background-color: nth($gray-color, 7);
      border-color: nth($gray-color, 1);

      &:first-child {
        background-color: nth($gray-color, 1);
      }
      .state.row {
        background-color: nth($gray-color, 6);
        @include position(absolute, $b: 0, $l: 0, $z: -1);
        div {
          background-color: nth($gray-color, 1);
        }
      }
    }
  }
}
// 3-3. 배경 페이지(view_forum)
.contents_wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  transform: translateY(-5%);
  opacity: 0;
  transition: 1s;

  .left_nav {
    width: fit-content;

    .list_wrap {
      width: 240px;

      > li {
        width: 100%;
        font-size: nth($font-size, 3);
        background-color: nth($gray-color, 2);
        border: 1px solid nth($gray-color, 3);
        transition: 1s;

        .list_name {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 56px;
          padding: 20px 50px;
          box-sizing: border-box;
          line-height: 15px;
          transition: 0.2s;

          .line_arrow {
            @include darken-icon;
            transform: rotate(-90deg);
            transition: 0.3s;
          }
        }
        &.active {
          .list_name {
            width: 100%;
            font-size: nth($font-size, 3);
            background-color: nth($gray-color, 7);
            color: nth($gray-color, 1);
            line-height: 15px;

            .line_arrow {
              @include lighten-icon;
              transform: rotate(90deg);
            }
          }
          .list {
            height: 260px;
            padding: 30px 50px;
          }
        }
        .list {
          width: 100%;
          overflow: hidden;
          height: 0;
          transition: 0.5s;
          box-sizing: border-box;
          background-color: #fff;
          padding-left: 50px;
          border: 0px solid nth($gray-color, 3);
          border-right-width: 1px;
          border-left-width: 1px;
          line-height: 50px;
          overflow: hidden;

          li {
            font-size: nth($font-size, 3);
            color: nth($gray-color, 6);
            &:hover {
              color: nth($gray-color, 7);
              font-weight: 600;
            }
          }
        }
      }
    }
    .filter_list_wrap {
      width: 240px;
      margin-top: 60px;
      > li {
        width: 100%;
        font-size: nth($font-size, 3);
        background-color: nth($gray-color, 2);
        border: 1px solid nth($gray-color, 3);

        .list_name {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 56px;
          padding: 20px 50px;
          box-sizing: border-box;
          line-height: 15px;
          transition: 0.3s;
        }
        .filter_list {
          width: 100%;
          overflow: hidden;
          height: fit-content;
          transition: 0.5s;
          box-sizing: border-box;
          background-color: #fff;
          padding: 30px 50px;
          border: 0px solid nth($gray-color, 3);
          border-right-width: 1px;
          border-left-width: 1px;
          line-height: 50px;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: nth($font-size, 3);
            color: nth($gray-color, 6);
            &:hover {
              color: nth($gray-color, 7);
              font-weight: 600;
            }
            div {
              width: 15px;
              height: 15px;
              position: relative;
              border: 1px solid nth($gray-color, 4);

              &::after {
                @include position(absolute, $t: 50%, $l: 0);
                content: "";
                width: 100%;
                height: 1px;
                background-color: nth($gray-color, 4);
              }
            }
          }
        }
      }
    }
  }
  .main_board {
    width: 80%;

    ul.sort_by {
      width: 100%;
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 15px;

      li {
        font-size: nth($font-size, 2);
        color: nth($gray-color, 6);

        &:hover,
        &.checked {
          color: nth($gray-color, 7);
          font-weight: 600;
        }
        &:last-child {
          display: block;
          // width: 32px;
          // height: 32px;
          padding: 8px;
          border: 1px solid nth($gray-color, 3);
          background-color: nth($gray-color, 2);
          border-radius: 100%;

          &:hover {
            background-color: nth($gray-color, 6);
            div {
              filter: brightness(1);
            }
          }
          div {
            filter: brightness(0.5);
          }
        }
      }
    }
    article {
      .pages {
        .post {
          width: 610px;
          height: 400px;
          overflow: hidden;

          img {
            width: 110%;
          }
        }
      }
    }
  }
}
