@charset "utf-8";
/* 
    목차
        1. 1600px ~ 1440px
        2. 1439px ~ 1025px
        3. 1024px ~ 769px
        4. 768px ~ 481px
        5. 480px ~
*/
/* 1. 1600px ~ 1440px */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
}
/* 2. 1439px ~ 1025px */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  /* header */
  .gnb {
    width: 360px;
  }
  .heart_content {
    padding-left: 16px;
  }
  .heart_content > ul {
    right: -134%;
  }
}
/* 3. 1024px ~ 769px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* header */
  header::before {
    height: 234px;
  }
  .header_wrap {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .nav_wrap {
    width: 88%;
  }
  .gnb {
    width: 360px;
  }
  .heart_content {
    padding-left: 16px;
  }
  .heart_content > ul {
    right: -134%;
  }
  .menu_button {
    padding-right: 0;
  }
}
/* 4. 768px ~ 481px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* header */
  header::before {
    height: 234px;
  }
  .header_wrap {
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .nav_wrap {
    width: 100%;
  }
  nav {
    display: none;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb {
    width: 100%;
  }
  .header_icon {
    position: absolute;
    top: 4px;
    right: 0;
  }
  .heart_content {
    padding-left: 16px;
  }
  .heart_content > ul {
    right: -134%;
  }
  .menu_button {
    margin-left: 0;
  }
  .small_menu {
    display: block;
  }
  h1 {
    width: fit-content;
    transform: scale(0.9);
    transform-origin: center left;
  }
  /* footer */
  .footer_wrap {
    height: 115px;
  }
  footer .policy {
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 643px;
    justify-content: end;
    row-gap: 0;
  }
  .footer_wrap > ul {
    display: none;
  }
  footer .legal {
    text-align: center;
  }
}
/* 5. 480px ~*/
@media screen and (max-width: 480px) {
  /* header */
  header::before {
    height: 198px;
  }
  .header_wrap {
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .nav_wrap {
    width: 100%;
  }
  nav {
    display: none;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb {
    width: 100%;
    font-size: 14px;
  }
  .lnb {
    top: 36px;
  }
  .lnb li {
    margin-bottom: 0;
  }
  .header_icon {
    position: absolute;
    top: 4px;
    right: 0;
  }
  .heart_content {
    padding-left: 16px;
  }
  .heart_content > ul {
    width: 90vw;
    right: -92%;
  }
  .menu_button {
    margin-left: 0;
    padding: 0;
  }
  .user_login + li {
    gap: 1%;
    padding: 1vh 2px;
    justify-content: space-between;
  }
  .lostark_event {
    width: auto;
    margin: 0 auto;
  }
  .small_menu {
    display: block;
  }
  .menu_content .link a {
    transform: scale(0.8);
    transform-origin: center left;
  }
  h1 {
    width: fit-content;
    transform: scale(0.6);
    transform-origin: center left;
  }
  button.heart,
  button.menu,
  button.human {
    transform: scale(0.8);
  }
  /* footer */
  .footer_wrap {
    height: fit-content;
    padding: 40px 0;
  }
  footer .policy {
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    row-gap: 0;
  }
  .footer_wrap > ul {
    display: none;
  }
  footer .legal {
    text-align: center;
    float: none;
    height: fit-content;
  }
  footer .legal p {
    display: flex;
    width: 100;
    flex-flow: column wrap;
  }
}
