@charset "utf-8";
@import url(./common_responsive.css);
/* 
    목차
        1. 1600px ~ 1440px
        2. 1439px ~ 1025px
        3. 1024px ~ 769px
        4. 768px ~ 481px
        5. 480px ~
*/
/* 1. 1600px ~ 1440px */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
    /* best_page */
    .bestLCM .best_img {
        height: 40vh;
    }
    /* view_forum */
    .wrapper.white .pages {
        justify-content: end;
        row-gap: 20px;
        column-gap: 20px;
    }
    main.forum .contents_wrap .main_board article .pages .post {
        width: 29vw;
        height: fit-content;
    }
    .wrapper.white main.forum .pages .post .title {
        padding: 30px 32px;
    }
    .wrapper.white main.forum h3 {
        font-size: 16px;
    }
    .wrapper.white main.forum .pages .post .title .nick_name {
        font-size: 12px;
    }
    .wrapper.white main.forum .pages .post .heart_svg {
        transform: scale(0.8);
        right: 28px;
    }
    /* community */
    main.community .contents_wrap {
        gap: 40px;
    }
    main.community .main_board table .title {
        width: 40%;
    }
    .wrapper.white main.community h3 {
        font-size: 12px;
    }
}
/* 2. 1439px ~ 1025px */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
    /* best_page */
    .bestLCM .best_img {
        height: 28vh;
    }
    .wrapper.white .pages .post .title {
        padding: 30px 35px;
        align-items: center;
    }
    .wrapper.white .pages .post .title div h3 {
        font-size: 16px;
    }
    /* view_forum */
    .wrapper.white .pages {
        justify-content: end;
        row-gap: 20px;
        column-gap: 20px;
    }
    main.forum .contents_wrap .main_board article .pages .post {
        width: 29vw;
        height: fit-content;
    }
    .wrapper.white main.forum .pages .post .title {
        padding: 30px 32px;
    }
    .wrapper.white main.forum h3 {
        font-size: 16px;
    }
    .wrapper.white main.forum .pages .post .title .nick_name {
        font-size: 12px;
    }
    .wrapper.white main.forum .pages .post .heart_svg {
        transform: scale(0.8);
        right: 28px;
    }
    main.forum .contents_wrap .left_nav .list_wrap {
        width: 200px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list {
        height: 200px;
        padding: 20px 48px;
        line-height: 40px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list {
        padding-left: 48px;
        line-height: 40px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list li {
        font-size: 18px;
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap {
        width: 200px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(2).active .list {
        height: 280px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(4).active .list {
        height: 160px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name,
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name {
        font-size: 18px;
    }
    .wrapper.white .pages .post .title .reation {
        display: none;
    }
    /* customizing_info */
    main.customizing_info .information .avartars_wrap article .avartar_frame {
        height: 380px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame img {
        height: 300px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        padding: 15px 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:last-of-type {
        top: 15px;
        right: 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        height: 80px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame .line_heart {
        top: 15px;
        right: 10px;
        transform: scale(0.8);
    }
    /* community */
    main.community .contents_wrap {
        gap: 20px;
    }
    main.community .main_board table .title {
        width: 40%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    main.community .main_board table tr {
        overflow: hidden;
    }
    main.community .main_board table .type {
        width: 5%;
    }
    main.community .main_board table .user {
        width: 12%;
    }
    main.community .main_board table .view,
    main.community .main_board table .recode {
        width: 7%;
    }
    .wrapper.white main.community h3 {
        font-size: 12px;
    }
}
/* 3. 1024px ~ 769px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* 공통 */
    h2 {
        font-size: 52px;
        line-height: 38px;
    }
    .wrapper.white section {
        margin: 22% auto 14%;
    }
    /* best_page */
    .wrapper.white section.bestLCM {
        margin-top: 250px;
    }
    .wrapper.white ul.select li {
        width: 50%;
        padding: 0;
    }
    .wrapper.white ul.select li:last-child {
        display: none;
    }
    .wrapper.white .reporter_pick ul.select li:last-child {
        display: block;
    }
    .bestLCM .best_img {
        height: 26vh;
    }
    .wrapper.white .pages .post .title {
        padding: 30px 35px;
        align-items: center;
    }
    .wrapper.white .pages .post .title div h3 {
        font-size: 16px;
    }
    .wrapper.white .pages .post .title .reation {
        position: absolute;
        top: -70px;
        right: 30px;
        margin-top: 0;
        flex-direction: column;
    }
    /* view_forum */
    .wrapper.white main.forum section {
        margin: 25% auto 14%;
    }
    .wrapper.white .pages {
        justify-content: end;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 20px;
    }
    .wrapper.white main.forum ul.select {
        margin-top: 5%;
    }
    .wrapper.white main.forum ul.select li {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    main.forum .contents_wrap .main_board ul.sort_by {
        gap: 10px;
    }
    main.forum .contents_wrap .main_board ul.sort_by li {
        font-size: 14px;
    }
    main.forum .contents_wrap .left_nav {
        margin-top: 52px;
    }
    main.forum .contents_wrap {
        margin-top: 20px;
    }
    main.forum .contents_wrap .main_board article .pages .post {
        width: 29vw;
        height: fit-content;
    }
    .wrapper.white main.forum .pages .post .title {
        padding: 30px 32px;
    }
    .wrapper.white main.forum h3 {
        font-size: 16px;
    }
    .wrapper.white main.forum .pages .post .title .nick_name {
        font-size: 12px;
    }
    .wrapper.white main.forum .pages .post .heart_svg {
        transform: scale(0.8);
        right: 28px;
    }
    main.forum .contents_wrap .left_nav .list_wrap {
        width: 160px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list {
        height: 200px;
        padding: 20px 35px;
        line-height: 40px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list {
        padding-left: 35px;
        line-height: 40px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list li {
        font-size: 18px;
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap {
        width: 160px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(2).active .list {
        height: 280px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(4).active .list {
        height: 160px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name,
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name {
        font-size: 16px;
        padding: 15px 35px;
        height: 48px;
    }
    .wrapper.white .pages .post .title .reation {
        display: none;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name .line_arrow {
        transform: rotate(90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name .line_arrow {
        transform: rotate(-90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap > li .list_name {
        font-size: 16px;
        padding: 20px 35px;
        height: 48px;
    }
    .list_name .line_arrow:last-of-type {
        transform: rotate(180deg) scale(0.7);
    }
    /* view info */
    main.forum .contents_wrap .text {
        display: block;
    }
    .maps {
        display: none;
    }
    /* customizing_info */
    main.customizing_info .information .avartars_wrap article .avartar_frame {
        height: 280px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame img {
        height: 200px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        padding: 15px 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:last-of-type {
        top: 70px;
        right: auto;
        left: 27px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        height: 100px;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info h5 {
        font-size: 18px;
        margin-top: 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:first-of-type {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame .line_heart {
        top: 15px;
        right: 10px;
        transform: scale(0.7);
    }
    main.customizing_info section:nth-of-type(2) .parts input[type='checkbox'] + label {
        width: 80px;
        height: 80px;
    }
    main.customizing_info section:nth-of-type(2) .parts {
        width: 70%;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part {
        width: 0%;
        padding-right: 130px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character {
        width: 130px;
        font-size: 16px;
        line-height: 40px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character input[type='radio'] + label {
        height: 40px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part img {
        display: none;
    }
    main.customizing_info .information .title .checking {
        width: auto;
        position: unset;
        margin-top: 30px;
    }
    /* community */
    main.community .contents_wrap {
        gap: 10px;
        flex-direction: column;
    }
    main.community .main_board table .title {
        width: 40%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    main.community .main_board table tr {
        overflow: hidden;
    }
    main.community .main_board table .type {
        width: 5%;
    }
    main.community .main_board table .user {
        width: 12%;
    }
    main.community .main_board table .view,
    main.community .main_board table .recode {
        width: 7%;
    }
    main.community .contents_wrap .left_nav {
        width: 100%;
        margin: 0;
    }
    main.community .contents_wrap .left_nav .list_wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }
    main.community .contents_wrap .left_nav .list_wrap > li:last-child {
        display: none;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list_name p,
    main.community .contents_wrap .left_nav .list_wrap > li .list_name p {
        width: 100%;
        text-align: center;
    }
    main.community .contents_wrap .left_nav .list_wrap > li .list li {
        display: inline-block;
        line-height: 35px;
        padding: 0 20px;
        height: fit-content;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.community,
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.notice {
        height: fit-content;
        padding: 10px 35px;
        text-align: center;
    }
    main.community .contents_wrap .main_board {
        width: 100%;
    }
    .wrapper.white main.community h3 {
        font-size: 12px;
    }
}
/* 4. 768px ~ 481px */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* best_page */
    .reporter_pick {
        padding-top: 0px;
    }
    h2 {
        font-size: 52px;
        line-height: 38px;
    }
    .wrapper.white section.bestLCM {
        margin-top: 150px;
    }
    .wrapper.white ul.select li {
        width: auto;
        padding: 0;
        flex-grow: 1;
    }
    .wrapper.white ul.select li:last-child {
        display: none;
    }
    .wrapper.white .reporter_pick ul.select li:last-child {
        display: block;
    }
    .bestLCM .best_img {
        height: 15vh;
    }
    .wrapper.white ul.page_number {
        margin-top: 30px;
    }
    .wrapper.white main .event {
        padding: 20px 15px;
        gap: 20px;
    }
    .wrapper.white main .event h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .wrapper.white main .event p {
        font-size: 14px;
        line-height: 18px;
    }
    .wrapper.white .reporter_pick ul.select li:last-child {
        display: none;
    }
    .wrapper.white .pages .post .title {
        padding: 30px 35px;
        align-items: center;
    }
    .wrapper.white .pages .post .title div h3 {
        font-size: 16px;
        margin-top: 10px;
    }
    .wrapper.white .pages .post .title .reation {
        position: absolute;
        top: -70px;
        right: 30px;
        margin-top: 0;
        flex-direction: column;
    }
    .wrapper.white .pages {
        justify-content: center;
        margin-top: 60px;
    }
    .wrapper.white .pages .post {
        width: 90%;
    }
    /* view_forum */
    .wrapper.white main.forum section {
        margin: 25% auto 14%;
    }
    .wrapper.white .pages {
        justify-content: end;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 15px;
    }
    .wrapper.white main.forum ul.select {
        margin-top: 5%;
    }
    .wrapper.white main.forum ul.select li {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    main.forum .contents_wrap .main_board ul.sort_by {
        gap: 10px;
    }
    main.forum .contents_wrap .main_board ul.sort_by li {
        font-size: 14px;
    }
    main.forum .contents_wrap .left_nav {
        margin-top: 47px;
    }
    main.forum .contents_wrap {
        margin-top: 15px;
        gap: 15px;
    }
    main.forum .contents_wrap .main_board article .pages .post {
        width: 100%;
        height: fit-content;
    }
    .wrapper.white main.forum .pages .post .title {
        padding: 20px 15px;
    }
    .wrapper.white main.forum h3 {
        font-size: 16px;
    }
    .wrapper.white main.forum .pages .post .title .nick_name {
        font-size: 12px;
    }
    .wrapper.white main.forum .pages .post .heart_svg {
        transform: scale(0.8);
        top: 15px;
        right: 15px;
    }
    main.forum .contents_wrap .left_nav .list_wrap {
        width: 140px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list {
        height: 180px;
        padding: 20px 25px;
        line-height: 35px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list {
        padding-left: 25px;
        line-height: 35px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list li {
        font-size: 16px;
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap {
        width: 140px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(2).active .list {
        height: 250px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(4).active .list {
        height: 145px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name,
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name {
        font-size: 16px;
        padding: 15px 25px;
        height: 48px;
    }
    .wrapper.white .pages .post .title .reation {
        display: none;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name .line_arrow {
        transform: rotate(90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name .line_arrow {
        transform: rotate(-90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap > li .list_name {
        font-size: 16px;
        padding: 15px 25px;
        height: 48px;
    }
    .list_name .line_arrow:last-of-type {
        transform: rotate(180deg) scale(0.7);
    }
    /* view info */
    main.forum .contents_wrap .text {
        display: block;
    }
    .maps {
        display: none;
    }
    /* customizing_info */
    main.customizing_info .information .avartars_wrap article .avartar_frame {
        height: 280px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame img {
        height: 200px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        padding: 15px 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:last-of-type {
        top: 70px;
        right: auto;
        left: 27px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        height: 100px;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info h5 {
        font-size: 18px;
        margin-top: 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:first-of-type {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame .line_heart {
        top: 15px;
        right: 10px;
        transform: scale(0.7);
    }
    main.customizing_info section:nth-of-type(2) .parts input[type='checkbox'] + label {
        width: 80px;
        height: 80px;
    }
    main.customizing_info section:nth-of-type(2) .parts {
        width: 100%;
        margin: 10px auto;
        height: fit-content;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part {
        width: 0%;
        padding-right: 130px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character {
        width: 130px;
        font-size: 16px;
        line-height: 40px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character input[type='radio'] + label {
        height: 40px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part img {
        display: none;
    }
    main.customizing_info .information .title .checking {
        width: auto;
        position: unset;
        margin-top: 30px;
    }
    .wrapper.white section {
        margin: 25% auto 14%;
    }
    main.customizing_info .information .title h5 {
        font-size: 14px;
    }
    main.customizing_info .information .avartars_wrap article {
        width: 49%;
    }
    main.customizing_info .information .title .checking div {
        padding: 0 16px;
        font-size: 14px;
    }

    main.customizing_info section:nth-of-type(2) .parts .left_part .cell {
        height: 100px;
    }
    /* community */
    main.community .contents_wrap {
        gap: 10px;
        flex-direction: column;
    }
    main.community .main_board table .title {
        width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    main.community .main_board table tr {
        overflow: hidden;
    }
    main.community .main_board table .type {
        width: 7%;
    }
    main.community .main_board table .user {
        display: none;
    }
    main.community .main_board table .date {
        display: none;
    }
    main.community .main_board table .view,
    main.community .main_board table .recode {
        width: 7%;
    }
    main.community .contents_wrap .left_nav {
        width: 100%;
        margin: 0;
    }
    main.community .contents_wrap .left_nav .list_wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }
    main.community .contents_wrap .left_nav .list_wrap > li:last-child {
        display: none;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list_name p,
    main.community .contents_wrap .left_nav .list_wrap > li .list_name p {
        width: 100%;
        text-align: center;
    }
    main.community .contents_wrap .left_nav .list_wrap > li .list li {
        display: inline-block;
        line-height: 35px;
        padding: 0 10px;
        height: fit-content;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.community,
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.notice {
        height: fit-content;
        padding: 10px 15px;
        text-align: center;
    }
    main.community .main_board table .number {
        width: 7%;
    }
    main.community .contents_wrap .main_board {
        width: 100%;
    }
    main.community .left_nav .list_wrap li.active {
        margin-bottom: 0;
    }
    main.community .main_board table {
        margin-top: 10px;
    }
    main.community .main_board table th,
    main.community .main_board table td {
        font-size: 14px;
    }
    .wrapper.white main.community h3 {
        font-size: 12px;
    }
}

/* 5. 480px ~*/
@media screen and (max-width: 480px) {
    /* best_page */
    .reporter_pick {
        padding-top: 0px;
    }
    h2 {
        font-size: 36px;
        line-height: 38px;
    }
    .wrapper.white section.bestLCM {
        margin-top: 150px;
    }
    .wrapper.white ul.select li {
        width: auto;
        padding: 0;
        flex-grow: 1;
        font-size: 16px;
    }
    .wrapper.white ul.select li:last-child {
        display: none;
    }
    .wrapper.white .reporter_pick ul.select li:last-child {
        display: block;
    }
    .bestLCM .best_img {
        height: 15vh;
    }
    .wrapper.white main .event {
        padding: 20px 25px;
        gap: 30px;
    }
    .wrapper.white main .event h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .wrapper.white main .event p {
        font-size: 12px;
        line-height: 18px;
    }
    .wrapper.white .reporter_pick ul.select li:last-child {
        display: none;
    }
    .wrapper.white .pages .post .title {
        padding: 30px 35px;
        align-items: center;
    }
    .wrapper.white .pages .post .title div h3 {
        font-size: 16px;
        margin-top: 10px;
    }
    .wrapper.white .pages .post .title .reation {
        position: absolute;
        top: -70px;
        right: 30px;
        margin-top: 0;
        flex-direction: column;
    }
    .wrapper.white .pages {
        justify-content: center;
        margin-top: 60px;
    }
    .wrapper.white .pages .post {
        width: 90%;
    }
    /* view_forum */
    .wrapper.white main.forum section {
        margin: 25% auto 14%;
    }
    .wrapper.white .pages {
        justify-content: end;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 15px;
    }
    .wrapper.white main.forum ul.select {
        margin-top: 5%;
    }
    .wrapper.white main.forum ul.select li {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
    main.forum .contents_wrap .main_board ul.sort_by {
        gap: 10px;
    }
    main.forum .contents_wrap .main_board ul.sort_by li {
        font-size: 14px;
    }
    main.forum .contents_wrap .left_nav {
        margin-top: 47px;
    }
    main.forum .contents_wrap {
        margin-top: 15px;
        gap: 10px;
    }
    main.forum .contents_wrap .main_board {
        width: 59%;
    }
    main.forum .contents_wrap .main_board article .pages .post {
        width: 100%;
        height: fit-content;
    }
    .wrapper.white main.forum .pages .post .title {
        padding: 20px 15px;
    }
    .wrapper.white main.forum h3 {
        font-size: 16px;
    }
    .wrapper.white main.forum .pages .post .title .nick_name {
        font-size: 12px;
    }
    .wrapper.white main.forum .pages .post .heart_svg {
        transform: scale(0.6);
        top: 15px;
        right: 15px;
    }
    main.forum .contents_wrap .left_nav .list_wrap {
        width: 120px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list {
        height: 180px;
        padding: 20px 25px;
        line-height: 35px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list {
        padding-left: 25px;
        line-height: 35px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list li {
        font-size: 16px;
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap {
        width: 120px;
        margin-top: 30px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(2).active .list {
        height: 250px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li:nth-child(4).active .list {
        height: 145px;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name,
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name {
        font-size: 16px;
        padding: 15px 25px;
        height: 48px;
    }
    .wrapper.white .pages .post .title .reation {
        display: none;
    }
    main.forum .contents_wrap .left_nav .list_wrap > li.active .list_name .line_arrow {
        transform: rotate(90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .list_wrap > li .list_name .line_arrow {
        transform: rotate(-90deg) scale(0.7);
    }
    main.forum .contents_wrap .left_nav .filter_list_wrap > li .list_name {
        font-size: 16px;
        padding: 15px 25px;
        height: 48px;
    }
    .list_name .list_name .line_arrow:last-of-type {
        transform: rotate(180deg) scale(0.7);
    }
    .wrapper.white ul.page_number {
        margin-top: 30px;
    }
    /* view info */
    main.forum .contents_wrap .text {
        display: block;
    }
    .maps {
        display: none;
    }
    /* customizing_info */
    main.customizing_info .information .avartars_wrap article .avartar_frame {
        height: 280px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame img {
        height: 200px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        padding: 15px 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:last-of-type {
        top: 70px;
        right: auto;
        left: 27px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info {
        height: 100px;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info h5 {
        font-size: 18px;
        margin-top: 10px;
    }
    main.customizing_info .information .avartars_wrap article .avartar_info p:first-of-type {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    main.customizing_info .information .avartars_wrap article .avartar_frame .line_heart {
        top: 15px;
        right: 10px;
        transform: scale(0.7);
    }
    main.customizing_info section:nth-of-type(2) .parts input[type='checkbox'] + label {
        width: 80px;
        height: 80px;
    }
    main.customizing_info section:nth-of-type(2) .parts {
        width: 100%;
        margin: 10px auto;
        height: fit-content;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part {
        width: 0%;
        padding-right: 130px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character {
        width: 120px;
        font-size: 16px;
        line-height: 40px;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part .character input[type='radio'] + label {
        height: 40px;
        width: 90%;
    }
    main.customizing_info section:nth-of-type(2) .parts .middel_part img {
        display: none;
    }
    main.customizing_info .information .title .checking {
        width: auto;
        position: unset;
        margin-top: 20px;
    }
    .wrapper.white section {
        margin: 25% auto 14%;
    }
    main.customizing_info .information .title h5 {
        font-size: 14px;
        margin-top: 20px;
    }
    main.customizing_info .information .avartars_wrap article {
        width: 49%;
    }
    main.customizing_info .information .title .checking div {
        padding: 0 16px;
        font-size: 14px;
    }

    main.customizing_info section:nth-of-type(2) .parts .left_part .cell {
        height: 100px;
    }
    /* community */
    main.community .contents_wrap {
        gap: 10px;
        flex-direction: column;
    }
    main.community .main_board table .title {
        width: 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    main.community .main_board table tr {
        overflow: hidden;
    }
    main.community .main_board table .type,
    main.community .main_board table .number,
    main.community .main_board table .view,
    main.community .main_board table .recode {
        width: 10%;
    }
    main.community .main_board table .user {
        display: none;
    }
    main.community .main_board table .date {
        display: none;
    }
    main.community .contents_wrap .left_nav {
        width: 100%;
        margin: 0;
    }
    main.community .contents_wrap .left_nav .list_wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }
    main.community .contents_wrap .left_nav .list_wrap > li:last-child {
        display: none;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list_name p,
    main.community .contents_wrap .left_nav .list_wrap > li .list_name p {
        width: 100%;
        text-align: center;
    }
    main.community .contents_wrap .left_nav .list_wrap > li .list li {
        display: inline-block;
        line-height: 35px;
        padding: 0 8px;
        height: fit-content;
        font-size: 14px;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.community,
    main.community .contents_wrap .left_nav .list_wrap > li.active .list.notice {
        height: fit-content;
        padding: 10px 15px;
        text-align: center;
    }
    main.community .contents_wrap .main_board {
        width: 100%;
    }
    main.community .left_nav .list_wrap li.active {
        margin-bottom: 0;
    }
    main.community .main_board table {
        margin-top: 10px;
    }
    main.community .main_board table th,
    main.community .main_board table td {
        font-size: 14px;
    }
    .wrapper.white main.community h3 {
        font-size: 12px;
    }
    .wrapper.white main.community ul.select {
        margin-top: 10%;
    }
    main.community .contents_wrap .left_nav .list_wrap > li.active .list_name,
    main.community .contents_wrap .left_nav .list_wrap > li .list_name {
        height: 40px;
        line-height: 8px;
    }
}
